.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

/* Make sure particles covers full background */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.button {
  background-color: #f19ce6;
}
